{:kotoba.app/id "cloud.itonami.isic-5110", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicfvddusvdskoaxivguvdbbep6hxvtynhux6oh6nmvld3dequthhu", :kotoba.app/embed-url "ipfs://bafkreicfvddusvdskoaxivguvdbbep6hxvtynhux6oh6nmvld3dequthhu", :published {:archive "https://kotobase.net/ipfs/bafkreicfvddusvdskoaxivguvdbbep6hxvtynhux6oh6nmvld3dequthhu", :size 4778, :put-status 201, :get-status 200, :at "2026-08-15T13:32:20.021Z"}}
